<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/stylesheets/style.css">
<title>Express To-Do</title>
  <title>Dev Skills Lab</title>
</head>
<body>
  <h1>Fruits as of <%= time %></h1>
  <ul>
    <% fruits.forEach(fruit => { %>
      <li>
        <form 
          action="/fruits/<%= fruit._id %>?_method=DELETE"
          class="delete-form"
          method="POST"
        >
          <button type="submit">X</button>
        </form>
				<a href="/fruits/<%= fruit._id %>"><%= fruit.favorite %></a>
				- 
				<%= fruit.eaten ? 'eaten' : 'not eaten'%>
			</li>
    <% }) %>
  </ul>
  <a href="/fruits/new">Add Fruits</a>
</body>
</html>